<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
	<h1>Danh Sách Sinh Viên</h1>
	<a href="/logout">Logout</a>
	<hr>
	<a th:href="@{themmoiSinhVien}">Thêm mới sinh viên</a>
	<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Họ Tên</th>
							<th scope="col">Năm Sinh</th>
							<th scope="col">Dân Tộc</th>
							<th scope="col">Mã Lớp</th>
							<th scope="col">Mã Sinh Viên</th>
							<th scope="col">
								Action
							</th >
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="SinhVien:${listDSsinhvien}">
							<td th:text="${SinhVien.id}"></td>
							<td th:text="${SinhVien.hoTen}"></td>
							<td th:text="${#dates.format(SinhVien.namSinh,'dd-MM-yyyy')}"></td>
							<td th:text="${SinhVien.danToc}"></td>
							<td th:text="${SinhVien.maLop}"></td>
							<td th:text="${SinhVien.maSV}"></td>
						
							<td>
								<a th:href="@{/sinhvien/xoaSinhVien/{id}(id=${SinhVien.id})}">Delete</a>
								<a th:href="@{/sinhvien/upDateSinhVien/{id}(id=${SinhVien.id})}">Update</a>
							</td>
						</tr>	
					</tbody>
				</table>
		</div>
	</section>
</body>
</html>